<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="Lviv" class="src.main.java.Intercity">
		<constructor-arg value="15" />
	</bean>

	<bean id="OilComp" class="src.main.java.OilComp"></bean>
	<bean id="WoodComp" class="src.main.java.WoodComp"></bean>

	<bean id="Kharkiv" class="src.main.java.FreightTrain">
		<property name="cargo" value="OIL"></property>
		<property name="customer" ref="OilComp"></property>
		<property name="customers">
			<list>
				<ref bean="WoodComp"></ref>
				<ref bean="OilComp"></ref>
			</list>
		</property>
	</bean>


</beans>
